@model EditProductVM

<h2 class="text-center">Редагування товару</h2>
<div class="d-flex justify-content-center w-50 m-auto">
    <form asp-action="Edit" method="post" enctype="multipart/form-data" class="w-100 bg-body-tertiary py-3 px-4 shadow">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="ExistingImage" />

        <div class="mb-3">
            <label asp-for="Name" class="form-label">Назва</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label class="form-label">Поточне фото</label>
                <img src="~/images/@(Model.ExistingImage ?? "default.jpg")" class="d-block img-thumbnail" style="height: 120px;">
            </div>
            <div class="col-md-6 mb-3">
                <label asp-for="Image" class="form-label">Нове зображення</label>
                <input asp-for="Image" type="file" class="form-control" accept="image/*" />
            </div>
        </div>

        <div class="row">
            <div class="col-6 mb-3">
                <label asp-for="Price" class="form-label">Ціна</label>
                <input asp-for="Price" type="number" step="0.01" class="form-control" />
            </div>
            <div class="col-6 mb-3">
                <label asp-for="Amount" class="form-label">Кількість</label>
                <input asp-for="Amount" type="number" class="form-control" />
            </div>
        </div>

        <div class="mb-3">
            <label asp-for="CategoryId" class="form-label">Категорія</label>
            <select asp-for="CategoryId" asp-items="@Model.SelectCategories" class="form-select"></select>
        </div>

        <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary w-25">Оновити</button>
            <a asp-action="Index" class="btn btn-dark w-25">Назад</a>
        </div>
    </form>
</div>